<div class="jumbotron">
  <div class="container">
     <h1 class="titulos">Bienvenido</h1>
    <a class="btn btn-primary btn-lg" href="https://www.youtube.com/watch?v=5RT9ytFQyX4&t=4587s"
      role="button">youtube</a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam vel voluptatum fugit repellat numquam sed
        obcaecati,
        iste sint, explicabo nobis quo? Quis adipisci soluta dolorum ex quasi velit exercitationem amet!</p>
    </div>

    <div class="col-md-4">
      <h2>Prueba 2</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti incidunt fugiat voluptatum consectetur.
        Tempora
        incidunt facere itaque laborum voluptate velit quia cum, ipsum esse exercitationem expedita qui earum ipsam
        nesciunt.
      </p>
    </div>
    <div class="col-md-4">
      <h4>Prueba3</h4>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos ullam error exercitationem, at porro
        voluptatem
        quaerat incidunt necessitatibus sunt officia et a? Deserunt quos perferendis voluptate delectus minima possimus
        assumenda!</p>
    </div>

  </div>
</div>